.header{
    width: 100%;
    height: 100vh;
    background: url('/michiel-ton-IfWczb2j4wU-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .menu{
        ul{
            display: flex;
            position: relative;
            top: 15px;
            flex-wrap: wrap;
            justify-content: center;
            li{
                a{
                    color: #EEF5DB;
                    text-shadow: 5px 5px 30px #000;
                    margin-left: 8px;
                    font-size: 25px;
                }
            }
        }

    }
    .container{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1{
            text-align: center;
            color: #172A3A;
            font-size: 42px;
            // text-shadow: 5px 5px 5px #000;
            transform: translateY(-70%);

            .holidays{
            color: #FE5F55;
            // text-shadow: 5px 5px 5px #000;
            }
        }
        p{
            text-align: center;
            margin-top: 10px;
            color: #EEF5DB;
            font-size: 18px;
            text-shadow: 5px 5px 50px #000;
            transform: translateY(90px);
           max-width: 500px;
    



        }
        .buttom{
            display: block;
            width: 150px;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 10px 2px 12px #000;
            font-size: 18px;
            color: #4F6367;
            font-weight: bold;
            height: 40px;
            position: relative;
            top: 100px;

        }
    }
}